<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="eda3a880-4285-4908-b15b-539201c09d45" activeEnvironment="Default environment" name="ToDoListAPI" lastOpened="2017-03-13T23:54:36.482-07:00" resourceRoot="" soapui-version="6.0.0" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/daryldcL/APITests.git</con:repositoryIdentifier></con:vcsConfiguration><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository/><con:tags/></con:soapui-project>