<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="04da0efd-f917-443c-b532-4d4fa93ed958" name="ToDoListDataAPI TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [ToDoListDataAPI]</con:description><con:settings><con:setting id="04da0efd-f917-443c-b532-4d4fa93ed958fileName">ToDoListDataAPI-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>