<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8d036dc1-c613-4c0d-b14d-f3ea0f04b887" wadlVersion="http://wadl.dev.java.net/2009/02" name="ToDoListDataAPI" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description xsi:nil="true"/><con:settings><con:setting id="8d036dc1-c613-4c0d-b14d-f3ea0f04b887fileName">ToDoListDataAPI</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://todolistdataapitestdemo.azurewebsites.net:443</con:endpoint></con:endpoints></con:interface>